<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>ML model</title>   
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body background="{{ url_for('static', filename='images/istock.jpg') }}"> 

    
    <center>
    <h1>Copper Status Classification </h1>
</center>

<div class="container">
    <center>
    <h2>Enter the Input values </Input></h2>
</center>
    
    <form  action="/classify"   method="POST">
        <div class="input-wrapper">
            <label 
            for="Customer"
            class="form-label"
            >
            Customer
        </label>
            <input 
            type="text" 
            id = "Customer" 
            name="Customer" 
            class="from-input"
            placeholder="Customer"
            required="required"
            >
        </div>

        <div class="input-wrapper">
            <label 
            for="Country"
            class="form-label"
            >
            Country
        </label>
            <input 
            type="text" 
            id = "Country" 
            name="Country"
            class="from-input"
            placeholder="Country"
            required="required"
            >
        </div>

        <div class="input-wrapper">
            <label 
            for="Item-Type"
            class="form-label"
            >
            Item-Type
        </label>
            <input 
            type="text" 
            id = "Item-Type"
            name= "Item-Type"
            class="from-input"
            placeholder="Item Type"
            required="required"
            >
        </div>

        <div class="input-wrapper">
            <label 
            for="Application"
            class="form-label"
            >
            Application
        </label>
            <input 
            type="text" 
            id = "Application" 
            name="Application" 
            class="from-input"
            placeholder="Application"
            required="required"
            >
        </div>


        <div class="input-wrapper">
            <label 
            for="Material"
            class="form-label"
            >
            Material
        </label>
            <input 
            type="text" 
            id = "Material" 
            name="Material"
            class="from-input"
            placeholder="Material"
            required="required"
            >
        </div>

  
        <div class="input-wrapper">
            <label 
            for="Item-year"
            class="form-label"
            >
            Item ordered Year
        </label>
            <input 
            type="text" 
            id = "Item-Year" 
            name="Item-Year"
            class="from-input"
            placeholder="Item ordered Year"
            required="required"
            >
        </div>


        <div class="input-wrapper">
            <label 
            for="Selling_Price"
            class="form-label"
            >
            Selling Price
        </label>
            <input 
            type="number" 
            step="any"
            id = "Selling_Price" 
            name="Selling_Price"
            class="from-input"
            placeholder="Delivery Day"
            required="required"
            >
        </div>


        <label 
        for="predict"
        class="form-label"
        >

        <div class="input-wrapper">

        <button id = predict type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </div>
    </form>

    {{ prediction_text }}
    </p>
</div>

<center>
    <a href="/">Home</a>

</center>
</body>
</html>
