<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.">
        <title>Model Prediction</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>
    <body>
        <div class="header">
            <img src="{{url_for('static',filename='images/new.jpg')}}">
            <div class="header_subclass">
                <h1> Machine Learning Model</h1>
                <p>Hello Everyone this is my new Project </p>

            </div>
            <div class="side-nav">
                <div class="home-menu">
                    <h2>Option Menu</h2>
                </div>
                <ul>
                    <li><img src="{{url_for('static',filename='images/home.png')}}"><a href="#">Home</a></li>
                    <li><img src="{{url_for('static',filename='images/analyse.png')}}"><a href="/predict">Selling price Prediction </a></li>
                    <li><img src="{{url_for('static',filename='images/analyse.png')}}"><a href="/classify">Status</a></li>
                </ul>
            </div>
            {{ prediction_text }}
        </div>
    </body>
</html>

